
.img{
    transition: 0.4s;
}
.img:hover{
    transform: scale(1.05,1.05);
    box-shadow: 0 0 5px 1px gray;
}



.header{
    text-align: center;
    color: burlywood;
    font-style: italic;
}
.logo img{
    margin-top: 10px;
    position:absolute;
    right:20%;
    height:6cm;
    width:6cm;
}